<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Comment Anywhere Prototype 1 - Index</title>
        <link rel="stylesheet" type="text/css" href="/static/styles.css">
    </head>
    <body>
        <h1>Landing Page</h1>
        <section>
            <p>Welcome to Comment Anywhere, The app that lets you Comment Anywhere on the Internet.</p>
            <ul>
                <li><a href="./register">Register</a></li>
                <li><a href="./login">Log in</a></li>
            </ul>
        </section>
    </body>
</html>