/* These variables can be used anywhere in the style sheet with the var(--name) command. */
:root {
   --lightblue: #5555ff;
   --darkblue: #1b02f8;
   --offwhite: #fafdfd;
   --mainbg: var(--darkblue);
   --maincolor: var(--offwhite);
   --mainfont: Courier New, Consolas, monospace;
   --linkcolor: rgb(152, 219, 161);
   --linkhover: rgb(202, 235, 55);
   --linkvisited: rgb(25, 131, 43);
   --bodypadding: 25px;
   --compbackground: rgb(40, 39, 46);
   --compcolor: rgb(255,255,255);
   --comppadding: 12px;
   --compmargin: 12px;
   --compradius: 5px;
   --compshadowborderbottom: 5px solid rgb(61, 47, 47);
   --compshadowborderright: 5px solid rgb(65, 59, 59);
   --formlabelcolor: #c8d4d4;

}

body {
    background-color: var(--mainbg);
    color: var(--maincolor);
    font-family: var(--mainfont);
    padding-left: var(--bodypadding);
    padding-right: var(--bodypadding);
}

h1, section {
    background-color: var(--compbackground);
    color: var(--compcolor);
    padding: var(--comppadding);
    margin-top: var(--compmargin);
    margin-bottom: var(--compmargin);
    border-radius: var(--compradius);
    border-right: var(--compshadowborderright);
    border-bottom: var(--compshadowborderbottom);
}
h1 {
    text-align: center;
}

a {
    color: var(--linkcolor);
}
a:hover {
    color: var(--linkhover);
}
a:visited {
    color: var(--linkvisited);
}
a:visited:hover {
    color: var(--linkhover);
}
h1 > a , h1 > a:visited{
    color: var(--compcolor);
    text-decoration: none;
}

form > div {
    margin-bottom: 10px;
}

form > div > label {
    display: inline-block;
    width: 40%;
    text-align: right;
    color: var(--formlabelcolor)
}

form > div > input[type=submit] {
    padding: 12px;
    font-family: var(--mainfont);
    font-size: 20px;
    margin-top: 10px;
    background-color: var(--linkcolor);
}

form > div > input[type=submit]:hover {
    padding: 12px;
    font-family: var(--mainfont);
    font-size: 20px;
    margin-top: 10px;
    background-color: var(--linkhover);
}

.error-message {
    text-align: center;
    color: red;
}