<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/static/styles.css">
        <title>
        {{block "title" .}}
        {{ end }}
        </title>
    </head>
    <body>
        <h1><a href="./">Prototype1 - {{block "title" . }}{{end}}</a></h1>
        <section>
            {{block "body" .}}
            {{ end }}
        </section>
        <footer>
            Created by the Comment Anywhere Group
        </footer>
    </body>
</html>